In [7]:
# Import Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#Import Dataset

In [11]:
botnet = pd.read_csv('D://Project1/Security/Botnet threat/cs448b_ipasn.csv')
botnet.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1