In [7]:
# Import Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#Import Dataset

In [11]:
botnet = pd.read_csv('D://Project1/Security/Botnet threat/cs448b_ipasn.csv')
botnet.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [12]:
botnet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20803 entries, 0 to 20802
Data columns (total 4 columns):
date     20803 non-null object
l_ipn    20803 non-null int64
r_asn    20803 non-null int64
f        20803 non-null int64
dtypes: int64(3), object(1)
memory usage: 650.2+ KB

In [13]:
#Total row
botnet.shape[0]

20803

In [16]:
#Get total number of connection for all local IP

In [15]:
botnet.groupby('l_ipn').size()

l_ipn
0    3980
1    2159
2    2416
3    1186
4    1308
5    1249
6    1305
7    2233
8    2230
9    2737
dtype: int64

In [17]:
#Get total number of connection for all foreign IP

In [18]:
botnet.groupby('r_asn').size()

r_asn
3         42
4         10
8         22
9          4
11         2
12         6
14         9
16        14
17        10
18         3
20         1
25        13
26         7
27        17
29         1
31         6
38         3
41         3
46         7
47        15
49         3
52        11
55         6
59         9
70         7
71        15
73        13
81        39
87         7
88         3
        ...
36347      7
36351     16
36377      1
36384      6
36420     13
36431      1
36493      1
36503      1
36561     11
36643      1
36657      2
36717      2
36727     13
36752      6
36784      5
36816      1
36828     14
36839     23
36850      2
36856    177
37945      6
38083      3
39386      3
39484      3
39561      1
39570      2
39632      1
39834      1
40028      4
40092      1
dtype: int64

In [21]:
#Group number of connection based on total

In [20]:
botnet.groupby('f').size()

f
1         7161
2         3994
3         1327
4         1244
5          622
6          655
7          385
8          413
9          234
10         208
11         225
12         216
13         173
14         147
15         138
16         112
17         102
18         116
19          91
20          77
21          68
22          75
23          76
24          64
25          44
26          67
27          40
28          53
29          44
30          47
          ...
3810         1
3873         1
3957         1
4051         2
4099         1
4166         1
4212         1
4271         1
4358         1
4375         1
4405         1
4408         1
4409         1
4422         1
4487         1
4627         1
4662         1
4665         1
4676         1
4698         1
4701         1
4702         1
4708         1
4718         1
5059         1
5214         1
7899         1
7902         1
274011       1
784234       1
dtype: int64

In [22]:
#Average connection

In [25]:
botnet['f'].mean()

93.91424313800894

In [26]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).mean()

l_ipn  r_asn
0      4           1.000000
       8           2.000000
       27          1.000000
       46          1.000000
       52          1.000000
       81          2.000000
       91        307.000000
       137         1.000000
       156        42.000000
       205         1.000000
       209         1.344828
       225       850.000000
       226         1.000000
       553         4.000000
       558         1.000000
       577         1.000000
       600         1.000000
       680         1.000000
       684      1303.000000
       701         8.730159
       702         4.000000
       714         1.166667
       766         1.000000
       786         2.000000
       812         1.000000
       852         1.000000
       1103        1.000000
       1133        2.000000
       1213        1.000000
       1221        1.000000
                   ...
9      32787      12.000000
       32962       2.000000
       33070       4.888889
       33085      13.000000
       33182       3.000000
       33260       5.000000
       33322       1.000000
       33419       8.700000
       33549       2.000000
       33554       1.000000
       33694       7.304348
       33724       1.000000
       33739      19.250000
       34013       5.000000
       34768       6.000000
       35845       1.250000
       36017       6.000000
       36024       2.000000
       36031      20.000000
       36088     194.583333
       36221       1.500000
       36323       2.500000
       36347       1.000000
       36351       3.000000
       36420       8.666667
       36431      53.000000
       36561       9.333333
       36839       7.133333
       36850       1.000000
       36856       2.250000
Name: f, dtype: float64

In [28]:
#The highest number of connection

In [29]:
botnet['f'].max()

784234

In [30]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).max()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         3
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701       325
       702         7
       714         2
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070      18
       33085      13
       33182       3
       33260       8
       33322       1
       33419      58
       33549       2
       33554       1
       33694      34
       33724       1
       33739      55
       34013       5
       34768       6
       35845       2
       36017       6
       36024       2
       36031      20
       36088     415
       36221       2
       36323       5
       36347       1
       36351       3
       36420      43
       36431      53
       36561      27
       36839      43
       36850       1
       36856       7
Name: f, dtype: int64

In [31]:
#The lowest number of connection

In [32]:
botnet['f'].min()

1

In [33]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).min()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         1
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701         1
       702         1
       714         1
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070       1
       33085      13
       33182       3
       33260       2
       33322       1
       33419       1
       33549       2
       33554       1
       33694       1
       33724       1
       33739       6
       34013       5
       34768       6
       35845       1
       36017       6
       36024       2
       36031      20
       36088       6
       36221       1
       36323       1
       36347       1
       36351       3
       36420       1
       36431      53
       36561       1
       36839       1
       36850       1
       36856       1
Name: f, dtype: int64