In [1]:
# Import Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Import Dataset

In [4]:
botnet = pd.read_csv('D://Project1/Security/Botnet threat/cs448b_ipasn.csv')
botnet.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [5]:
botnet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20803 entries, 0 to 20802
Data columns (total 4 columns):
date     20803 non-null object
l_ipn    20803 non-null int64
r_asn    20803 non-null int64
f        20803 non-null int64
dtypes: int64(3), object(1)
memory usage: 650.2+ KB

In [6]:
#Total row
botnet.shape[0]

20803

In [16]:
#Get total number of connection for all local IP

In [7]:
botnet.groupby('l_ipn').size()

l_ipn
0    3980
1    2159
2    2416
3    1186
4    1308
5    1249
6    1305
7    2233
8    2230
9    2737
dtype: int64

In [17]:
#Get total number of connection for all foreign IP

In [8]:
botnet.groupby('r_asn').size()

r_asn
3         42
4         10
8         22
9          4
11         2
12         6
14         9
16        14
17        10
18         3
20         1
25        13
26         7
27        17
29         1
31         6
38         3
41         3
46         7
47        15
49         3
52        11
55         6
59         9
70         7
71        15
73        13
81        39
87         7
88         3
        ...
36347      7
36351     16
36377      1
36384      6
36420     13
36431      1
36493      1
36503      1
36561     11
36643      1
36657      2
36717      2
36727     13
36752      6
36784      5
36816      1
36828     14
36839     23
36850      2
36856    177
37945      6
38083      3
39386      3
39484      3
39561      1
39570      2
39632      1
39834      1
40028      4
40092      1
dtype: int64

In [21]:
#Group number of connection based on total

In [9]:
botnet.groupby('f').size()

f
1         7161
2         3994
3         1327
4         1244
5          622
6          655
7          385
8          413
9          234
10         208
11         225
12         216
13         173
14         147
15         138
16         112
17         102
18         116
19          91
20          77
21          68
22          75
23          76
24          64
25          44
26          67
27          40
28          53
29          44
30          47
          ...
3810         1
3873         1
3957         1
4051         2
4099         1
4166         1
4212         1
4271         1
4358         1
4375         1
4405         1
4408         1
4409         1
4422         1
4487         1
4627         1
4662         1
4665         1
4676         1
4698         1
4701         1
4702         1
4708         1
4718         1
5059         1
5214         1
7899         1
7902         1
274011       1
784234       1
dtype: int64

In [22]:
#Average connection

In [10]:
botnet['f'].mean()

93.91424313800894

In [11]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).mean()

l_ipn  r_asn
0      4           1.000000
       8           2.000000
       27          1.000000
       46          1.000000
       52          1.000000
       81          2.000000
       91        307.000000
       137         1.000000
       156        42.000000
       205         1.000000
       209         1.344828
       225       850.000000
       226         1.000000
       553         4.000000
       558         1.000000
       577         1.000000
       600         1.000000
       680         1.000000
       684      1303.000000
       701         8.730159
       702         4.000000
       714         1.166667
       766         1.000000
       786         2.000000
       812         1.000000
       852         1.000000
       1103        1.000000
       1133        2.000000
       1213        1.000000
       1221        1.000000
                   ...
9      32787      12.000000
       32962       2.000000
       33070       4.888889
       33085      13.000000
       33182       3.000000
       33260       5.000000
       33322       1.000000
       33419       8.700000
       33549       2.000000
       33554       1.000000
       33694       7.304348
       33724       1.000000
       33739      19.250000
       34013       5.000000
       34768       6.000000
       35845       1.250000
       36017       6.000000
       36024       2.000000
       36031      20.000000
       36088     194.583333
       36221       1.500000
       36323       2.500000
       36347       1.000000
       36351       3.000000
       36420       8.666667
       36431      53.000000
       36561       9.333333
       36839       7.133333
       36850       1.000000
       36856       2.250000
Name: f, dtype: float64

In [28]:
#The highest number of connection

In [12]:
botnet['f'].max()

784234

In [13]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).max()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         3
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701       325
       702         7
       714         2
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070      18
       33085      13
       33182       3
       33260       8
       33322       1
       33419      58
       33549       2
       33554       1
       33694      34
       33724       1
       33739      55
       34013       5
       34768       6
       35845       2
       36017       6
       36024       2
       36031      20
       36088     415
       36221       2
       36323       5
       36347       1
       36351       3
       36420      43
       36431      53
       36561      27
       36839      43
       36850       1
       36856       7
Name: f, dtype: int64

In [31]:
#The lowest number of connection

In [14]:
botnet['f'].min()

1

In [15]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).min()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         1
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701         1
       702         1
       714         1
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070       1
       33085      13
       33182       3
       33260       2
       33322       1
       33419       1
       33549       2
       33554       1
       33694       1
       33724       1
       33739       6
       34013       5
       34768       6
       35845       1
       36017       6
       36024       2
       36031      20
       36088       6
       36221       1
       36323       1
       36347       1
       36351       3
       36420       1
       36431      53
       36561       1
       36839       1
       36850       1
       36856       1
Name: f, dtype: int64

In [34]:
#The median number of connection

In [16]:
botnet['f'].median()

2.0

In [17]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).median()

l_ipn  r_asn
0      4           1.0
       8           2.0
       27          1.0
       46          1.0
       52          1.0
       81          2.0
       91        307.0
       137         1.0
       156        42.0
       205         1.0
       209         1.0
       225       850.0
       226         1.0
       553         4.0
       558         1.0
       577         1.0
       600         1.0
       680         1.0
       684      1303.0
       701         3.0
       702         4.0
       714         1.0
       766         1.0
       786         2.0
       812         1.0
       852         1.0
       1103        1.0
       1133        2.0
       1213        1.0
       1221        1.0
                 ...
9      32787      12.0
       32962       2.0
       33070       2.0
       33085      13.0
       33182       3.0
       33260       5.0
       33322       1.0
       33419       3.5
       33549       2.0
       33554       1.0
       33694       3.0
       33724       1.0
       33739       8.0
       34013       5.0
       34768       6.0
       35845       1.0
       36017       6.0
       36024       2.0
       36031      20.0
       36088     211.5
       36221       1.5
       36323       2.0
       36347       1.0
       36351       3.0
       36420       2.0
       36431      53.0
       36561       7.5
       36839       2.0
       36850       1.0
       36856       2.0
Name: f, dtype: float64

In [39]:
#Describe overall dataset

In [18]:
botnet.describe()

              l_ipn         r_asn              f
count  20803.000000  20803.000000   20803.000000
mean       4.228236  12138.320338      93.914243
std        3.278183   9766.324252    5764.995269
min        0.000000      3.000000       1.000000
25%        1.000000   4323.000000       1.000000
50%        4.000000   8764.000000       2.000000
75%        7.000000  17676.000000       8.000000
max        9.000000  40092.000000  784234.000000

In [40]:
#List out Total connection based on workstation ID

In [19]:
botnet.groupby('l_ipn').size()

l_ipn
0    3980
1    2159
2    2416
3    1186
4    1308
5    1249
6    1305
7    2233
8    2230
9    2737
dtype: int64

In [42]:
#Select workstation 0

In [20]:
workstation1 = botnet[botnet['l_ipn']==0] 
workstation1.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [21]:
workstation1.describe()

        l_ipn         r_asn            f
count  3980.0   3980.000000  3980.000000
mean      0.0  11890.358040    26.426382
std       0.0   9104.685237   232.733282
min       0.0      4.000000     1.000000
25%       0.0   4808.000000     1.000000
50%       0.0   8708.000000     1.000000
75%       0.0  17228.000000     2.000000
max       0.0  39834.000000  5059.000000

In [22]:
workstation1.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
20477  2006-09-29      0  33070  5059
13547  2006-08-25      0   9316  4487
11698  2006-08-17      0  31983  4358
3675   2006-07-18      0   7314  4051
13746  2006-08-26      0   6478  4051
4957   2006-07-23      0  32666  3697
12512  2006-08-21      0  24940  3416
19838  2006-09-26      0  19548  3184
20309  2006-09-28      0  33070  3157
11681  2006-08-17      0  12322  2832
17998  2006-09-16      0   3462  2744
658    2006-07-04      0   4766  2714
18703  2006-09-20      0   9318  2675
12730  2006-08-22      0   8402  2371
15762  2006-09-05      0   9371  1905
19496  2006-09-24      0   9318  1847
18702  2006-09-20      0   9316  1652
18036  2006-09-16      0  28571  1539
17283  2006-09-13      0   2514  1442
20614  2006-09-30      0  10439  1376
4189   2006-07-20      0   4837  1367
17995  2006-09-16      0    684  1303
3466   2006-07-17      0   3267  1279
19648  2006-09-25      0   9924  1235
17060  2006-09-12      0   5617  1218
4414   2006-07-21      0  13749  1118
9472   2006-08-08      0  12173  1055
15122  2006-09-01      0   4725   952
14946  2006-08-31      0  20853   872
14942  2006-08-31      0  15802   854
...           ...    ...    ...   ...
8751   2006-08-05      0   9498     1
8752   2006-08-05      0   9812     1
8753   2006-08-05      0   9824     1
8754   2006-08-05      0  10738     1
8536   2006-08-04      0  13184     1
8534   2006-08-04      0  11426     1
8285   2006-08-03      0  33774     1
8532   2006-08-04      0   9121     1
8504   2006-08-04      0    209     1
8507   2006-08-04      0   2518     1
8508   2006-08-04      0   3215     1
8509   2006-08-04      0   3320     1
8510   2006-08-04      0   3549     1
8513   2006-08-04      0   4538     1
8514   2006-08-04      0   4766     1
8515   2006-08-04      0   4788     1
8517   2006-08-04      0   4837     1
8518   2006-08-04      0   5089     1
8519   2006-08-04      0   5739     1
8521   2006-08-04      0   6432     1
8522   2006-08-04      0   6461     1
8523   2006-08-04      0   6478     1
8524   2006-08-04      0   6713     1
8525   2006-08-04      0   6724     1
8526   2006-08-04      0   6848     1
8528   2006-08-04      0   8167     1
8529   2006-08-04      0   8560     1
8530   2006-08-04      0   8708     1
8531   2006-08-04      0   9116     1
20628  2006-09-30      0  39484     1

[3980 rows x 4 columns]

In [29]:
workstation1.groupby('f').size() #number of connection per group

f
1       2755
2        510
3        121
4         74
5         33
6         30
7         30
8         17
9         10
10         8
11        16
12        10
13        18
14         7
15        13
16         8
17        12
18        13
19         7
20         6
21         8
22         8
23        12
24         9
25         6
26        10
27         7
28         8
29         6
30         7
        ...
850        1
854        1
872        1
952        1
1055       1
1118       1
1218       1
1235       1
1279       1
1303       1
1367       1
1376       1
1442       1
1539       1
1652       1
1847       1
1905       1
2371       1
2675       1
2714       1
2744       1
2832       1
3157       1
3184       1
3416       1
3697       1
4051       2
4358       1
4487       1
5059       1
dtype: int64

In [49]:
#Select workstation 1

In [24]:
workstation2 = botnet[botnet['l_ipn']==1] 
workstation2.head()

          date  l_ipn  r_asn    f
35  2006-07-01      1    680    1
36  2006-07-01      1   1239    6
37  2006-07-01      1   2828    2
38  2006-07-01      1   3265  519
39  2006-07-01      1   4134    9

In [25]:
workstation2.describe()

        l_ipn         r_asn            f
count  2159.0   2159.000000  2159.000000
mean      1.0  11229.380269    90.639648
std       0.0   8822.305849   466.006782
min       1.0      3.000000     1.000000
25%       1.0   4323.000000     1.000000
50%       1.0   8708.000000     2.000000
75%       1.0  15214.000000     5.000000
max       1.0  40028.000000  4718.000000

In [26]:
workstation2.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
11874  2006-08-18      1   3265  4718
11703  2006-08-17      1   3265  4708
11435  2006-08-16      1   3265  4702
10822  2006-08-13      1   3265  4701
12066  2006-08-19      1   3265  4698
10590  2006-08-12      1   3265  4676
10318  2006-08-11      1   3265  4665
11202  2006-08-15      1   3265  4662
10989  2006-08-14      1   3265  4627
4965   2006-07-23      1   3265  4422
933    2006-07-05      1   4766  4405
11724  2006-08-17      1  31983  4212
5008   2006-07-23      1  32666  3697
13081  2006-08-23      1  33438  3441
13044  2006-08-23      1   3307  3438
12559  2006-08-21      1  24940  3416
13042  2006-08-23      1   2108  3407
9520   2006-08-08      1  35017  3326
10024  2006-08-10      1   3265  2885
9740   2006-08-09      1   3265  2884
12791  2006-08-22      1  33438  2440
12752  2006-08-22      1   3307  2397
12748  2006-08-22      1   2108  2170
12315  2006-08-20      1  33438  2087
12283  2006-08-20      1   3307  2083
12280  2006-08-20      1   2108  2045
13322  2006-08-24      1   3307  2044
12562  2006-08-21      1  33438  1786
13345  2006-08-24      1  33438  1663
5960   2006-07-26      1   3265  1660
...           ...    ...    ...   ...
3959   2006-07-19      1   7015     1
3981   2006-07-19      1  34320     1
4218   2006-07-20      1    680     1
4444   2006-07-21      1   6400     1
9505   2006-08-08      1   9908     1
9489   2006-08-08      1   3595     1
9491   2006-08-08      1   4323     1
4441   2006-07-21      1   4814     1
4438   2006-07-21      1   4741     1
9495   2006-08-08      1   4837     1
9496   2006-08-08      1   6327     1
9497   2006-08-08      1   8151     1
4437   2006-07-21      1   4323     1
4431   2006-07-21      1   3320     1
9502   2006-08-08      1   9738     1
9503   2006-08-08      1   9800     1
9506   2006-08-08      1  10620     1
9743   2006-08-09      1   3595     1
4426   2006-07-21      1   2152     1
4425   2006-07-21      1   2018     1
4248   2006-07-20      1  34320     1
9514   2006-08-08      1  16206     1
9515   2006-08-08      1  17826     1
4243   2006-07-20      1  14780     1
9518   2006-08-08      1  25086     1
4233   2006-07-20      1   6327     1
4232   2006-07-20      1   6197     1
4226   2006-07-20      1   3462     1
4225   2006-07-20      1   3352     1
35     2006-07-01      1    680     1

[2159 rows x 4 columns]

In [27]:
workstation2.groupby('f').size()

f
1       801
2       538
3       128
4       123
5        54
6        56
7        24
8        28
9        28
10       24
11       10
12       29
13       22
14       17
15        9
16       13
17        7
18        9
19        5
20        4
21        5
22        3
23        6
24        5
25        3
26        2
27        1
28        6
29        2
30        3
       ...
1660      2
1663      1
1786      1
2044      1
2045      1
2083      1
2087      1
2170      1
2397      1
2440      1
2884      1
2885      1
3326      1
3407      1
3416      1
3438      1
3441      1
3697      1
4212      1
4405      1
4422      1
4627      1
4662      1
4665      1
4676      1
4698      1
4701      1
4702      1
4708      1
4718      1
dtype: int64

In [53]:
#Select workstation 2

In [31]:
workstation3 = botnet[botnet['l_ipn']==2] 
workstation3.head()

          date  l_ipn  r_asn    f
54  2006-07-01      2   1312  218
55  2006-07-01      2   3561    8
56  2006-07-01      2   3659    1
57  2006-07-01      2   4323    8
58  2006-07-01      2   5617    3

In [32]:
workstation3.describe()

        l_ipn         r_asn            f
count  2416.0   2416.000000  2416.000000
mean      2.0  13087.177566    81.007036
std       0.0  11314.030523   299.501027
min       2.0      3.000000     1.000000
25%       2.0   4323.000000     2.000000
50%       2.0   7377.000000     6.000000
75%       2.0  19918.000000    47.250000
max       2.0  39484.000000  5214.000000

In [33]:
workstation3.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
18748  2006-09-20      2   9316  5214
11745  2006-08-17      2  31983  4099
18743  2006-09-20      2   6539  3957
5031   2006-07-23      2  32666  3697
8591   2006-08-04      2   1239  3398
13583  2006-08-25      2   9316  3290
20505  2006-09-29      2  33070  3089
19871  2006-09-26      2  19548  3045
17570  2006-09-14      2  17222  3006
968    2006-07-05      2   4766  2725
12590  2006-08-21      2  24940  2451
12812  2006-08-22      2   8402  2388
20338  2006-09-28      2  33070  2185
18043  2006-09-16      2   3462  2020
18749  2006-09-20      2   9318  1970
20635  2006-09-30      2   1659  1829
18961  2006-09-21      2   4788  1737
6022   2006-07-26      2  19918  1616
20333  2006-09-28      2  19918  1552
18060  2006-09-16      2  28571  1539
17337  2006-09-13      2   2514  1442
4257   2006-07-20      2   4837  1364
6392   2006-07-27      2  19918  1353
3545   2006-07-17      2   3267  1279
18955  2006-09-21      2   3462  1277
20658  2006-09-30      2  10439  1199
17349  2006-09-13      2  17222  1162
14479  2006-08-29      2  33650  1161
4502   2006-07-21      2  33650  1142
4496   2006-07-21      2  13749  1100
...           ...    ...    ...   ...
5327   2006-07-24      2   4837     1
16852  2006-09-11      2  22625     1
16853  2006-09-11      2  27431     1
5326   2006-07-24      2   4766     1
5324   2006-07-24      2   4230     1
5323   2006-07-24      2   4134     1
5655   2006-07-25      2   3595     1
16707  2006-09-10      2   3701     1
16705  2006-09-10      2   2637     1
5656   2006-07-25      2   3701     1
6021   2006-07-26      2  19181     1
6015   2006-07-26      2   6366     1
6011   2006-07-26      2   4837     1
16536  2006-09-09      2    174     1
16537  2006-09-09      2    209     1
16539  2006-09-09      2   2519     1
16541  2006-09-09      2   4134     1
6007   2006-07-26      2    701     1
16544  2006-09-09      2   6360     1
5677   2006-07-25      2  33322     1
5673   2006-07-25      2  26803     1
16548  2006-09-09      2   8001     1
16549  2006-09-09      2   9394     1
5672   2006-07-25      2  22653     1
12323  2006-08-20      2   6461     1
16553  2006-09-09      2  19181     1
5670   2006-07-25      2  19181     1
5660   2006-07-25      2   6140     1
5657   2006-07-25      2   4134     1
20690  2006-09-30      2  39484     1

[2416 rows x 4 columns]

In [34]:
workstation3.groupby('f').size()

f
1       563
2       188
3       154
4       194
5        49
6        72
7        49
8       132
9        28
10       29
11       30
12       51
13       20
14       19
15       19
16       20
17       13
18       15
19       11
20       16
21        7
22       11
23        5
24       12
25        2
26        5
27        5
28        7
29        5
30        6
       ...
1100      1
1142      1
1161      1
1162      1
1199      1
1277      1
1279      1
1353      1
1364      1
1442      1
1539      1
1552      1
1616      1
1737      1
1829      1
1970      1
2020      1
2185      1
2388      1
2451      1
2725      1
3006      1
3045      1
3089      1
3290      1
3398      1
3697      1
3957      1
4099      1
5214      1
dtype: int64

In [35]:
#Select workstation 3

In [36]:
workstation4 = botnet[botnet['l_ipn']==3] 
workstation4.head()

          date  l_ipn  r_asn  f
69  2006-07-01      3   1239  1
70  2006-07-01      3   2152  1
71  2006-07-01      3   4134  1
72  2006-07-01      3   4808  7
73  2006-07-01      3  11908  6

In [37]:
workstation4.describe()

        l_ipn         r_asn            f
count  1186.0   1186.000000  1186.000000
mean      3.0  10975.320405     4.134907
std       0.0   8861.884735    16.190804
min       3.0      3.000000     1.000000
25%       3.0   4290.000000     1.000000
50%       3.0   8048.000000     2.000000
75%       3.0  16323.250000     2.000000
max       3.0  40028.000000   313.000000

In [38]:
workstation4.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn    f
12146  2006-08-19      3   4134  313
3197   2006-07-15      3   4837  263
20158  2006-09-27      3   9916  213
19884  2006-09-26      3   9916  205
13979  2006-08-27      3   7497  123
2340   2006-07-11      3   4134   84
986    2006-07-05      3   4538   60
12832  2006-08-22      3   4538   54
13814  2006-08-26      3   9800   54
16401  2006-09-08      3   4134   52
14989  2006-08-31      3   9800   45
1524   2006-07-07      3   4134   44
5692   2006-07-25      3  17964   44
15539  2006-09-03      3   7497   42
16720  2006-09-10      3   4134   42
8030   2006-08-02      3   4134   35
7504   2006-07-31      3   4134   35
7316   2006-07-30      3   4134   34
16206  2006-09-07      3   9800   34
16726  2006-09-10      3   9800   34
13978  2006-08-27      3   4134   33
13983  2006-08-27      3   9800   31
7781   2006-08-01      3   7132   30
16725  2006-09-10      3   7497   28
13598  2006-08-25      3   4837   28
18767  2006-09-20      3   4134   27
4509   2006-07-21      3   4837   27
2773   2006-07-13      3   7015   26
752    2006-07-04      3   3269   26
4507   2006-07-21      3   4134   26
...           ...    ...    ...  ...
11756  2006-08-17      3  26496    1
11757  2006-08-17      3  27257    1
11758  2006-08-17      3  31983    1
11935  2006-08-18      3     87    1
11936  2006-08-18      3   4766    1
11940  2006-08-18      3   7132    1
11941  2006-08-18      3   8048    1
11502  2006-08-16      3    174    1
11280  2006-08-15      3  29550    1
11279  2006-08-15      3  18566    1
11058  2006-08-14      3   8190    1
10864  2006-08-13      3   4323    1
10866  2006-08-13      3   4837    1
10867  2006-08-13      3  13749    1
10869  2006-08-13      3  29550    1
11052  2006-08-14      3    174    1
11053  2006-08-14      3   2152    1
11056  2006-08-14      3   7896    1
1279   2006-07-06      3  18229    1
11060  2006-08-14      3  18245    1
1277   2006-07-06      3  12297    1
11062  2006-08-14      3  22846    1
11268  2006-08-15      3    137    1
11269  2006-08-15      3    680    1
11270  2006-08-15      3   2107    1
11271  2006-08-15      3   2116    1
1278   2006-07-06      3  17429    1
11276  2006-08-15      3   7796    1
70     2006-07-01      3   2152    1
69     2006-07-01      3   1239    1

[1186 rows x 4 columns]

In [39]:
workstation4.groupby('f').size()

f
1      543
2      387
3       68
4       44
5       31
6       27
7        9
8        6
9        3
10       3
11       3
12       2
13       2
14       5
15       4
16       2
19       3
20       1
21       1
22       3
23       2
24       2
25       3
26       5
27       2
28       2
30       1
31       1
33       1
34       3
35       2
42       2
44       2
45       1
52       1
54       2
60       1
84       1
123      1
205      1
213      1
263      1
313      1
dtype: int64

In [40]:
#Select workstation 4

In [41]:
workstation5 = botnet[botnet['l_ipn']==4] 
workstation5.head()

          date  l_ipn  r_asn   f
78  2006-07-01      4   1239   5
79  2006-07-01      4   1668   1
80  2006-07-01      4   3356  21
81  2006-07-01      4   3561  10
82  2006-07-01      4   4323   1

In [42]:
workstation5.describe()

        l_ipn         r_asn              f
count  1308.0   1308.000000    1308.000000
mean      4.0  14557.530581     898.636850
std       0.0  10861.388071   22963.981816
min       4.0      3.000000       1.000000
25%       4.0   4766.000000       1.000000
50%       4.0  10967.500000       4.000000
75%       4.0  23342.000000      30.000000
max       4.0  39484.000000  784234.000000

In [43]:
workstation5.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn       f
18392  2006-09-18      4   3671  784234
18237  2006-09-17      4   3671  274011
996    2006-07-05      4   4766    4408
11772  2006-08-17      4  31983    4375
11288  2006-08-15      4   7996    3873
3770   2006-07-18      4   7314    3810
5065   2006-07-23      4  32666    3697
12614  2006-08-21      4  24940    3141
8621   2006-08-04      4   1239    3039
6801   2006-07-28      4  33651    2930
13819  2006-08-26      4   2828    2833
11764  2006-08-17      4  12322    2824
12861  2006-08-22      4   8402    2375
13618  2006-08-25      4   9316    2179
13826  2006-08-26      4   6478    2154
17142  2006-09-12      4   4134    1959
20528  2006-09-29      4  33070    1697
18099  2006-09-16      4  28571    1541
4026   2006-07-19      4   7132    1446
17373  2006-09-13      4   2514    1442
10376  2006-08-11      4  33651    1373
20359  2006-09-28      4  33070    1355
17384  2006-09-13      4  17222    1316
6777   2006-07-28      4   7132    1304
18084  2006-09-16      4    684    1303
6776   2006-07-28      4   7018    1296
3582   2006-07-17      4   3267    1279
18085  2006-09-16      4   3462    1268
4528   2006-07-21      4  13749    1179
20693  2006-09-30      4   1659    1168
...           ...    ...    ...     ...
10119  2006-08-10      4   6428       1
16213  2006-09-07      4   6428       1
9080   2006-08-06      4   7497       1
16584  2006-09-09      4  30256       1
8348   2006-08-03      4   2614       1
9079   2006-08-06      4   7303       1
8349   2006-08-03      4   4134       1
8350   2006-08-03      4   4323       1
8351   2006-08-03      4   4812       1
17145  2006-09-12      4   7066       1
17144  2006-09-12      4   6428       1
17143  2006-09-12      4   4264       1
8623   2006-08-04      4   2614       1
17140  2006-09-12      4   2514       1
16881  2006-09-11      4  23342       1
8625   2006-08-04      4   4812       1
8626   2006-08-04      4   6428       1
8848   2006-08-05      4    209       1
8850   2006-08-05      4   3561       1
8851   2006-08-05      4   3591       1
16875  2006-09-11      4   4323       1
8853   2006-08-05      4   4323       1
8856   2006-08-05      4   7497       1
8858   2006-08-05      4  13749       1
8860   2006-08-05      4  25560       1
9074   2006-08-06      4   4323       1
16732  2006-09-10      4   6428       1
9075   2006-08-06      4   4538       1
9077   2006-08-06      4   6428       1
20709  2006-09-30      4  39484       1

[1308 rows x 4 columns]

In [44]:
workstation5.groupby('f').size()

f
1         382
2         184
3          77
4          58
5          15
6          30
7          22
8          18
9          13
10         15
11         12
12         17
13         16
14         20
15         18
16         12
17          8
18         10
19          6
20          6
21          7
22          5
23          5
24          4
25          2
26          3
27          1
28          7
29          4
30          7
         ...
1168        1
1179        1
1268        1
1279        1
1296        1
1303        1
1304        1
1316        1
1355        1
1373        1
1442        1
1446        1
1541        1
1697        1
1959        1
2154        1
2179        1
2375        1
2824        1
2833        1
2930        1
3039        1
3141        1
3697        1
3810        1
3873        1
4375        1
4408        1
274011      1
784234      1
dtype: int64

In [45]:
#Select workstation 5

In [46]:
workstation6 = botnet[botnet['l_ipn']==5] 
workstation6.head()

          date  l_ipn  r_asn  f
89  2006-07-01      5   2152  3
90  2006-07-01      5   3561  3
91  2006-07-01      5   4134  1
92  2006-07-01      5   4808  7
93  2006-07-01      5   8070  6

In [47]:
workstation6.describe()

        l_ipn         r_asn            f
count  1249.0   1249.000000  1249.000000
mean      5.0  10372.008006     4.627702
std       0.0   8379.405869    15.580845
min       5.0      4.000000     1.000000
25%       5.0   4134.000000     1.000000
50%       5.0   8070.000000     2.000000
75%       5.0  13867.000000     4.000000
max       5.0  40028.000000   322.000000

In [48]:
workstation6.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn    f
12175  2006-08-19      5   4134  322
3221   2006-07-15      5   4837  308
14014  2006-08-27      5   7497  123
5112   2006-07-23      5  21844  120
5117   2006-07-23      5  26101  107
2360   2006-07-11      5   4134  106
5069   2006-07-23      5   2152  103
5108   2006-07-23      5  15169   93
1012   2006-07-05      5   4538   77
5102   2006-07-23      5  14743   69
5101   2006-07-23      5  14446   59
12881  2006-08-22      5   4538   46
15018  2006-08-31      5   9800   45
13852  2006-08-26      5   9800   44
7534   2006-07-31      5   4134   38
5075   2006-07-23      5   3561   36
14207  2006-08-28      5   7018   36
14021  2006-08-27      5   9800   36
4539   2006-07-21      5   4134   35
5759   2006-07-25      5  17964   34
5096   2006-07-23      5  13601   31
4540   2006-07-21      5   4837   31
14012  2006-08-27      5   4134   31
1538   2006-07-07      5   4134   29
9297   2006-08-07      5   4837   29
4881   2006-07-22      5  26101   28
11103  2006-08-14      5  26101   28
5079   2006-07-23      5   6432   27
8051   2006-08-02      5   4134   26
13160  2006-08-23      5  33650   26
...           ...    ...    ...  ...
10889  2006-08-13      5   7132    1
10888  2006-08-13      5   4837    1
3224   2006-07-15      5   9457    1
3226   2006-07-15      5  10223    1
3228   2006-07-15      5  14501    1
10880  2006-08-13      5    226    1
10708  2006-08-12      5  32613    1
3230   2006-07-15      5  19742    1
3231   2006-07-15      5  23724    1
3232   2006-07-15      5  24138    1
3233   2006-07-15      5  31252    1
10700  2006-08-12      5  10013    1
10696  2006-08-12      5   7018    1
3394   2006-07-16      5   3561    1
3395   2006-07-16      5   4134    1
3397   2006-07-16      5   6724    1
10387  2006-08-11      5  26496    1
3398   2006-07-16      5   7132    1
10383  2006-08-11      5   7132    1
10382  2006-08-11      5   4837    1
10377  2006-08-11      5    209    1
10148  2006-08-10      5  19916    1
10144  2006-08-10      5   9706    1
3595   2006-07-17      5     27    1
3599   2006-07-17      5   3561    1
10135  2006-08-10      5   3595    1
10133  2006-08-10      5   2828    1
10131  2006-08-10      5   1901    1
3603   2006-07-17      5   5396    1
11078  2006-08-14      5    226    1

[1249 rows x 4 columns]

In [49]:
workstation6.groupby('f').size()

f
1      390
2      412
3       97
4      112
5       67
6       54
7       19
8       13
9        8
10      11
11       7
13       2
14       3
15       5
16       1
18       4
21       1
22       6
23       4
24       2
25       1
26       2
27       1
28       2
29       2
31       3
34       1
35       1
36       3
38       1
44       1
45       1
46       1
59       1
69       1
77       1
93       1
103      1
106      1
107      1
120      1
123      1
308      1
322      1
dtype: int64

In [50]:
#Select workstation 6

In [51]:
workstation7 = botnet[botnet['l_ipn']==6] 
workstation7.head()

           date  l_ipn  r_asn   f
101  2006-07-01      6   1239   2
102  2006-07-01      6   4134  14
103  2006-07-01      6   4808   8
104  2006-07-01      6   4837   6
105  2006-07-01      6  10565  11

In [52]:
workstation7.describe()

        l_ipn         r_asn            f
count  1305.0   1305.000000  1305.000000
mean      6.0  11301.249042     5.114176
std       0.0   9036.053384    23.323676
min       6.0      3.000000     1.000000
25%       6.0   4663.000000     1.000000
50%       6.0   8560.000000     2.000000
75%       6.0  16810.000000     3.000000
max       6.0  40028.000000   530.000000

In [53]:
workstation7.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn    f
12193  2006-08-19      6   4134  530
19740  2006-09-25      6  29854  472
3240   2006-07-15      6   4837  316
14041  2006-08-27      6   7497  187
2371   2006-07-11      6   4134   90
7142   2006-07-29      6   9929   86
19967  2006-09-26      6   9916   79
12899  2006-08-22      6   4538   79
1024   2006-07-05      6   4538   78
16740  2006-09-10      6   4134   71
13867  2006-08-26      6   9800   60
6087   2006-07-26      6   4837   47
15037  2006-08-31      6   9800   46
5778   2006-07-25      6  17964   44
15030  2006-08-31      6   4134   43
14045  2006-08-27      6   9800   42
4553   2006-07-21      6   4134   42
7549   2006-07-31      6   4134   41
16229  2006-09-07      6   9800   41
4555   2006-07-21      6   4837   40
14039  2006-08-27      6   4134   40
19166  2006-09-22      6   4134   38
795    2006-07-04      6   3269   38
16745  2006-09-10      6   9800   37
14219  2006-08-28      6   2152   37
14229  2006-08-28      6   8075   37
18269  2006-09-17      6   4837   36
14220  2006-08-28      6   3561   34
16430  2006-09-08      6   9800   33
19734  2006-09-25      6  15169   33
...           ...    ...    ...  ...
7140   2006-07-29      6   7132    1
15402  2006-09-02      6   9803    1
6829   2006-07-28      6     46    1
6832   2006-07-28      6   4134    1
15223  2006-09-01      6  23859    1
6842   2006-07-28      6  20161    1
6845   2006-07-28      6  25761    1
6846   2006-07-28      6  25973    1
15217  2006-09-01      6   4812    1
15215  2006-09-01      6   4134    1
15043  2006-08-31      6  27645    1
15042  2006-08-31      6  25653    1
7136   2006-07-29      6   4812    1
7137   2006-07-29      6   4837    1
7145   2006-07-29      6  15512    1
14552  2006-08-29      6  36784    1
7362   2006-07-30      6   2614    1
15032  2006-08-31      6   4812    1
7364   2006-07-30      6   4812    1
15029  2006-08-31      6   2828    1
7367   2006-07-30      6   6453    1
14801  2006-08-30      6  29075    1
14800  2006-08-30      6  27645    1
7368   2006-07-30      6   8166    1
7369   2006-07-30      6   9318    1
14796  2006-08-30      6   9803    1
14795  2006-08-30      6   8560    1
7371   2006-07-30      6  15227    1
7373   2006-07-30      6  17465    1
15846  2006-09-05      6  12322    1

[1305 rows x 4 columns]

In [54]:
workstation7.groupby('f').size()

f
1      416
2      511
3       72
4       95
5       41
6       58
7       10
8       10
9        4
10       1
11       5
12       5
13       6
14       3
15       2
16       2
17       2
18       2
19       4
20       3
21       1
22       3
23       2
24       3
25       4
26       3
27       1
29       3
30       1
31       1
33       3
34       1
36       1
37       3
38       2
40       2
41       2
42       2
43       1
44       1
46       1
47       1
60       1
71       1
78       1
79       2
86       1
90       1
187      1
316      1
472      1
530      1
dtype: int64

In [55]:
#Select workstation 7

In [56]:
workstation8 = botnet[botnet['l_ipn']==7] 
workstation8.head()

           date  l_ipn  r_asn   f
112  2006-07-01      7    109   7
113  2006-07-01      7   2152  46
114  2006-07-01      7   3356  55
115  2006-07-01      7   3491   3
116  2006-07-01      7   3561  35

In [57]:
workstation8.describe()

        l_ipn         r_asn            f
count  2233.0   2233.000000  2233.000000
mean      7.0  12554.121361    15.836095
std       0.0   9820.077955    41.948103
min       7.0      3.000000     1.000000
25%       7.0   4134.000000     2.000000
50%       7.0   9471.000000     4.000000
75%       7.0  18924.000000    13.000000
max       7.0  36856.000000  1057.000000

In [58]:
workstation8.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
3254   2006-07-15      7   6517  1057
3435   2006-07-16      7   6517   708
3633   2006-07-17      7   6517   543
17962  2006-09-15      7  21844   377
19034  2006-09-21      7  21844   340
20010  2006-09-26      7  21844   319
1976   2006-07-09      7  19306   281
15243  2006-09-01      7  21844   273
20549  2006-09-29      7  21844   265
17435  2006-09-13      7  21844   253
14825  2006-08-30      7  21844   250
6134   2006-07-26      7  15169   215
20203  2006-09-27      7  21844   211
19414  2006-09-23      7  21844   209
20003  2006-09-26      7  14780   209
17190  2006-09-12      7  21844   194
8110   2006-08-02      7  15169   191
18134  2006-09-16      7  21844   188
15868  2006-09-05      7  21844   183
16251  2006-09-07      7  21844   181
13677  2006-08-25      7  21844   178
11134  2006-08-14      7  14744   172
20199  2006-09-27      7  15169   167
13885  2006-08-26      7  21844   161
14272  2006-08-28      7  21844   159
16779  2006-09-10      7  21844   154
6871   2006-07-28      7  16710   152
14566  2006-08-29      7  21844   148
2850   2006-07-13      7  15169   148
18440  2006-09-18      7  21844   146
...           ...    ...    ...   ...
17920  2006-09-15      7   2914     1
13435  2006-08-24      7   3701     1
7377   2006-07-30      7   2152     1
17923  2006-09-15      7   3575     1
6100   2006-07-26      7    109     1
12923  2006-08-22      7  12179     1
1038   2006-07-05      7   3356     1
12928  2006-08-22      7  15418     1
2827   2006-07-13      7   3356     1
6102   2006-07-26      7   1224     1
1042   2006-07-05      7   8560     1
13188  2006-08-23      7   3269     1
13189  2006-08-23      7   3333     1
13192  2006-08-23      7   3598     1
17947  2006-09-15      7  11486     1
6104   2006-07-26      7   1889     1
17944  2006-09-15      7  10763     1
17943  2006-09-15      7   9218     1
7382   2006-07-30      7   9156     1
17941  2006-09-15      7   8468     1
2626   2006-07-12      7  12222     1
1046   2006-07-05      7  12222     1
7379   2006-07-30      7   7132     1
13203  2006-08-23      7  10933     1
13205  2006-08-23      7  11944     1
13206  2006-08-23      7  12182     1
7378   2006-07-30      7   3701     1
17925  2006-09-15      7   4134     1
13432  2006-08-24      7    109     1
8113   2006-08-02      7  16966     1

[2233 rows x 4 columns]

In [59]:
workstation8.groupby('f').size()

f
1       370
2       463
3       188
4       145
5       103
6       117
7        64
8        58
9        50
10       40
11       43
12       30
13       34
14       24
15       22
16       19
17       17
18       18
19       26
20       11
21       10
22        7
23        9
24        9
25        4
26       11
27        1
28        4
29        7
30        7
       ...
142       2
143       1
146       1
148       2
152       1
154       1
159       1
161       1
167       1
172       1
178       1
181       1
183       1
188       1
191       1
194       1
209       2
211       1
215       1
250       1
253       1
265       1
273       1
281       1
319       1
340       1
377       1
543       1
708       1
1057      1
dtype: int64

In [60]:
#Select workstation 8

In [61]:
workstation9 = botnet[botnet['l_ipn']==8] 
workstation9.head()

           date  l_ipn  r_asn   f
144  2006-07-01      8     25   4
145  2006-07-01      8     26   3
146  2006-07-01      8    109   7
147  2006-07-01      8    209   4
148  2006-07-01      8    557  10

In [62]:
workstation9.describe()

        l_ipn         r_asn            f
count  2230.0   2230.000000  2230.000000
mean      8.0  11229.523767    53.902691
std       0.0  10093.311853   341.605457
min       8.0      3.000000     1.000000
25%       8.0   3557.000000     2.000000
50%       8.0   8070.000000     4.000000
75%       8.0  15270.000000     9.000000
max       8.0  40092.000000  7902.000000

In [63]:
workstation9.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
20584  2006-09-29      8  19916  7902
18833  2006-09-20      8  19916  7899
1076   2006-07-05      8   4766  4409
3262   2006-07-15      8  13749  4271
16477  2006-09-08      8   9371  4166
3649   2006-07-17      8   9848  3428
5181   2006-07-23      8   8689  2524
7587   2006-07-31      8  15076  2501
1085   2006-07-05      8   9800  2291
20563  2006-09-29      8   4713  2290
5475   2006-07-24      8  29863  2014
15466  2006-09-02      8  17557  1956
20759  2006-09-30      8  10439  1831
13895  2006-08-26      8   9318  1577
1813   2006-07-08      8  13768  1539
12703  2006-08-21      8  32613  1339
2633   2006-07-12      8   3816  1317
3264   2006-07-15      8  19742  1303
18828  2006-09-20      8   5662  1215
11149  2006-08-14      8   9318  1198
18623  2006-09-19      8   5662  1146
14081  2006-08-27      8   1659  1058
7862   2006-08-01      8   9808  1057
7856   2006-08-01      8   3462  1016
13501  2006-08-24      8  32632   989
9891   2006-08-09      8  16206   970
12955  2006-08-22      8   9583   925
19437  2006-09-23      8  15169   867
15730  2006-09-04      8  36351   854
5203   2006-07-23      8  26367   849
...           ...    ...    ...   ...
5176   2006-07-23      8   7132     1
5170   2006-07-23      8   4814     1
5169   2006-07-23      8   4766     1
5163   2006-07-23      8   2828     1
14295  2006-08-28      8   3701     1
5156   2006-07-23      8    137     1
17682  2006-09-14      8   3701     1
17683  2006-09-14      8   4134     1
17685  2006-09-14      8   4814     1
11148  2006-08-14      8   8190     1
5195   2006-07-23      8  15395     1
5196   2006-07-23      8  16807     1
11145  2006-08-14      8   2152     1
14309  2006-08-28      8  15412     1
5459   2006-07-24      8   5408     1
10947  2006-08-13      8  29550     1
11143  2006-08-14      8    137     1
17447  2006-09-13      8   1680     1
17448  2006-09-13      8   1784     1
11144  2006-08-14      8    174     1
11146  2006-08-14      8   7896     1
5198   2006-07-23      8  21844     1
17453  2006-09-13      8   3701     1
5452   2006-07-24      8    225     1
17455  2006-09-13      8   4814     1
5208   2006-07-23      8  30687     1
17461  2006-09-13      8  10532     1
17462  2006-09-13      8  11426     1
17465  2006-09-13      8  13749     1
16663  2006-09-09      8  30983     1

[2230 rows x 4 columns]

In [64]:
workstation9.groupby('f').size()

f
1       530
2       362
3       221
4       228
5       108
6        91
7        61
8        55
9        30
10       36
11       48
12       31
13       27
14       19
15       18
16       13
17       11
18       13
19        9
20       11
21       12
22        9
23        7
24        4
25        8
26        5
27        8
28        6
29        3
30        4
       ...
849       2
854       1
867       1
925       1
970       1
989       1
1016      1
1057      1
1058      1
1146      1
1198      1
1215      1
1303      1
1317      1
1339      1
1539      1
1577      1
1831      1
1956      1
2014      1
2290      1
2291      1
2501      1
2524      1
3428      1
4166      1
4271      1
4409      1
7899      1
7902      1
dtype: int64

In [74]:
#Number of connection from remote computer
remote9 = workstation9.groupby('r_asn').size()
remote9.sort_values(ascending = False)

r_asn
15169    92
8075     65
2152     65
3701     62
109      56
8070     53
5662     49
1668     49
3561     48
36856    43
3356     28
11486    26
209      24
2914     20
29550    19
30217    19
30315    19
12168    19
21844    18
20940    18
7132     18
7018     18
22822    17
786      17
3        17
8001     16
13749    16
10763    15
27357    15
12222    14
         ..
15216     1
15247     1
15290     1
13693     1
13640     1
13609     1
11771     1
11051     1
11172     1
11426     1
11427     1
11563     1
11588     1
11734     1
11736     1
11739     1
11743     1
11834     1
13601     1
11941     1
12181     1
12306     1
12312     1
12337     1
12437     1
13030     1
13326     1
13409     1
13488     1
9848      1
dtype: int64

In [65]:
#Select workstation 9

In [66]:
workstation10 = botnet[botnet['l_ipn']==9] 
workstation10.head()

           date  l_ipn  r_asn   f
183  2006-07-01      9    102  43
184  2006-07-01      9    209   6
185  2006-07-01      9    559   1
186  2006-07-01      9    701   8
187  2006-07-01      9   1239  17

In [67]:
workstation10.describe()

        l_ipn         r_asn            f
count  2737.0   2737.000000  2737.000000
mean      9.0  13332.503106    39.743149
std       0.0   9917.481212   108.232832
min       9.0      3.000000     1.000000
25%       9.0   6318.000000     2.000000
50%       9.0  11486.000000     6.000000
75%       9.0  19024.000000    21.000000
max       9.0  36856.000000  1027.000000

In [68]:
workstation10.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
9938   2006-08-09      9  15169  1027
13264  2006-08-23      9  15169   983
8721   2006-08-04      9  15169   979
10530  2006-08-11      9  15169   936
14374  2006-08-28      9  15169   915
1615   2006-07-07      9  14780   909
5527   2006-07-24      9  15169   902
13519  2006-08-24      9  15169   893
4136   2006-07-19      9  12168   888
13724  2006-08-25      9  15169   881
20069  2006-09-26      9  15169   879
8482   2006-08-03      9  15169   879
11367  2006-08-15      9  15169   825
1401   2006-07-06      9  15169   801
17760  2006-09-14      9  14780   768
10250  2006-08-10      9  15169   750
10248  2006-08-10      9  14780   740
11369  2006-08-15      9  20461   688
10529  2006-08-11      9  14780   688
17022  2006-09-11      9  14780   668
19275  2006-09-22      9  15169   662
1839   2006-07-08      9  14780   652
8199   2006-08-02      9  14780   647
6611   2006-07-27      9  15169   637
12982  2006-08-22      9  15169   636
14661  2006-08-29      9  15169   625
4102   2006-07-19      9   3356   590
10777  2006-08-12      9  15169   587
2219   2006-07-10      9  15169   581
14900  2006-08-30      9  15169   563
...           ...    ...    ...   ...
13516  2006-08-24      9  12168     1
18646  2006-09-19      9   8002     1
8709   2006-08-04      9  10565     1
9423   2006-08-07      9  27445     1
1834   2006-07-08      9  10565     1
2185   2006-07-10      9   4513     1
1835   2006-07-08      9  11922     1
18860  2006-09-20      9  10763     1
4375   2006-07-20      9  36561     1
18858  2006-09-20      9   8075     1
7899   2006-08-01      9  14361     1
18856  2006-09-20      9   7349     1
18855  2006-09-20      9   7342     1
5535   2006-07-24      9  22205     1
1983   2006-07-09      9   8070     1
9391   2006-08-07      9   7105     1
14627  2006-08-29      9   2140     1
18849  2006-09-20      9   4513     1
4587   2006-07-21      9    852     1
9390   2006-08-07      9   7091     1
9905   2006-08-09      9    226     1
8697   2006-08-04      9   3356     1
7898   2006-08-01      9  14280     1
17044  2006-09-11      9  33419     1
7897   2006-08-01      9  13890     1
7896   2006-08-01      9  12552     1
14623  2006-08-29      9    209     1
7186   2006-07-29      9   7091     1
5515   2006-07-24      9  11922     1
9958   2006-08-09      9  35845     1

[2737 rows x 4 columns]

In [69]:
workstation10.groupby('f').size()

f
1       411
2       439
3       201
4       171
5       121
6       120
7        97
8        76
9        60
10       41
11       51
12       41
13       26
14       30
15       28
16       22
17       32
18       32
19       20
20       19
21       16
22       20
23       24
24       14
25       11
26       21
27       13
28       11
29       12
30       11
       ...
553       1
558       1
563       1
581       1
587       1
590       1
625       1
636       1
637       1
647       1
652       1
662       1
668       1
688       2
740       1
750       1
768       1
801       1
825       1
879       2
881       1
888       1
893       1
902       1
909       1
915       1
936       1
979       1
983       1
1027      1
dtype: int64

In [73]:
#Number of connection from remote computer
remote = workstation10.groupby('r_asn').size()
remote.sort_values(ascending = False)

r_asn
8070     92
2152     80
8075     70
15169    57
3561     54
6432     48
36856    44
26101    41
209      41
14780    40
11486    39
12182    38
3356     37
5779     37
36088    36
12168    36
10763    33
10794    32
12222    28
2914     28
20940    27
25751    27
7132     27
19296    27
12179    26
16509    24
21844    24
33694    23
4265     22
11944    21
         ..
26381     1
26108     1
12363     1
12651     1
11734     1
13030     1
13513     1
13640     1
13650     1
13680     1
36850     1
11743     1
26627     1
11023     1
11339     1
11051     1
11111     1
11184     1
11274     1
26856     1
11329     1
11403     1
11634     1
11421     1
11440     1
11442     1
26753     1
11499     1
11565     1
10884     1
dtype: int64