In [7]:
# Import Libraries

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#Import Dataset

In [11]:
botnet = pd.read_csv('D://Project1/Security/Botnet threat/cs448b_ipasn.csv')
botnet.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [12]:
botnet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20803 entries, 0 to 20802
Data columns (total 4 columns):
date     20803 non-null object
l_ipn    20803 non-null int64
r_asn    20803 non-null int64
f        20803 non-null int64
dtypes: int64(3), object(1)
memory usage: 650.2+ KB

In [13]:
#Total row
botnet.shape[0]

20803

In [16]:
#Get total number of connection for all local IP

In [15]:
botnet.groupby('l_ipn').size()

l_ipn
0    3980
1    2159
2    2416
3    1186
4    1308
5    1249
6    1305
7    2233
8    2230
9    2737
dtype: int64

In [17]:
#Get total number of connection for all foreign IP

In [18]:
botnet.groupby('r_asn').size()

r_asn
3         42
4         10
8         22
9          4
11         2
12         6
14         9
16        14
17        10
18         3
20         1
25        13
26         7
27        17
29         1
31         6
38         3
41         3
46         7
47        15
49         3
52        11
55         6
59         9
70         7
71        15
73        13
81        39
87         7
88         3
        ...
36347      7
36351     16
36377      1
36384      6
36420     13
36431      1
36493      1
36503      1
36561     11
36643      1
36657      2
36717      2
36727     13
36752      6
36784      5
36816      1
36828     14
36839     23
36850      2
36856    177
37945      6
38083      3
39386      3
39484      3
39561      1
39570      2
39632      1
39834      1
40028      4
40092      1
dtype: int64

In [21]:
#Group number of connection based on total

In [20]:
botnet.groupby('f').size()

f
1         7161
2         3994
3         1327
4         1244
5          622
6          655
7          385
8          413
9          234
10         208
11         225
12         216
13         173
14         147
15         138
16         112
17         102
18         116
19          91
20          77
21          68
22          75
23          76
24          64
25          44
26          67
27          40
28          53
29          44
30          47
          ...
3810         1
3873         1
3957         1
4051         2
4099         1
4166         1
4212         1
4271         1
4358         1
4375         1
4405         1
4408         1
4409         1
4422         1
4487         1
4627         1
4662         1
4665         1
4676         1
4698         1
4701         1
4702         1
4708         1
4718         1
5059         1
5214         1
7899         1
7902         1
274011       1
784234       1
dtype: int64

In [22]:
#Average connection

In [25]:
botnet['f'].mean()

93.91424313800894

In [26]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).mean()

l_ipn  r_asn
0      4           1.000000
       8           2.000000
       27          1.000000
       46          1.000000
       52          1.000000
       81          2.000000
       91        307.000000
       137         1.000000
       156        42.000000
       205         1.000000
       209         1.344828
       225       850.000000
       226         1.000000
       553         4.000000
       558         1.000000
       577         1.000000
       600         1.000000
       680         1.000000
       684      1303.000000
       701         8.730159
       702         4.000000
       714         1.166667
       766         1.000000
       786         2.000000
       812         1.000000
       852         1.000000
       1103        1.000000
       1133        2.000000
       1213        1.000000
       1221        1.000000
                   ...
9      32787      12.000000
       32962       2.000000
       33070       4.888889
       33085      13.000000
       33182       3.000000
       33260       5.000000
       33322       1.000000
       33419       8.700000
       33549       2.000000
       33554       1.000000
       33694       7.304348
       33724       1.000000
       33739      19.250000
       34013       5.000000
       34768       6.000000
       35845       1.250000
       36017       6.000000
       36024       2.000000
       36031      20.000000
       36088     194.583333
       36221       1.500000
       36323       2.500000
       36347       1.000000
       36351       3.000000
       36420       8.666667
       36431      53.000000
       36561       9.333333
       36839       7.133333
       36850       1.000000
       36856       2.250000
Name: f, dtype: float64

In [28]:
#The highest number of connection

In [29]:
botnet['f'].max()

784234

In [30]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).max()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         3
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701       325
       702         7
       714         2
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070      18
       33085      13
       33182       3
       33260       8
       33322       1
       33419      58
       33549       2
       33554       1
       33694      34
       33724       1
       33739      55
       34013       5
       34768       6
       35845       2
       36017       6
       36024       2
       36031      20
       36088     415
       36221       2
       36323       5
       36347       1
       36351       3
       36420      43
       36431      53
       36561      27
       36839      43
       36850       1
       36856       7
Name: f, dtype: int64

In [31]:
#The lowest number of connection

In [32]:
botnet['f'].min()

1

In [33]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).min()

l_ipn  r_asn
0      4           1
       8           2
       27          1
       46          1
       52          1
       81          2
       91        307
       137         1
       156        42
       205         1
       209         1
       225       850
       226         1
       553         4
       558         1
       577         1
       600         1
       680         1
       684      1303
       701         1
       702         1
       714         1
       766         1
       786         2
       812         1
       852         1
       1103        1
       1133        2
       1213        1
       1221        1
                ...
9      32787      12
       32962       2
       33070       1
       33085      13
       33182       3
       33260       2
       33322       1
       33419       1
       33549       2
       33554       1
       33694       1
       33724       1
       33739       6
       34013       5
       34768       6
       35845       1
       36017       6
       36024       2
       36031      20
       36088       6
       36221       1
       36323       1
       36347       1
       36351       3
       36420       1
       36431      53
       36561       1
       36839       1
       36850       1
       36856       1
Name: f, dtype: int64

In [34]:
#The median number of connection

In [35]:
botnet['f'].median()

2.0

In [36]:
botnet['f'].groupby([botnet['l_ipn'], botnet['r_asn']]).median()

l_ipn  r_asn
0      4           1.0
       8           2.0
       27          1.0
       46          1.0
       52          1.0
       81          2.0
       91        307.0
       137         1.0
       156        42.0
       205         1.0
       209         1.0
       225       850.0
       226         1.0
       553         4.0
       558         1.0
       577         1.0
       600         1.0
       680         1.0
       684      1303.0
       701         3.0
       702         4.0
       714         1.0
       766         1.0
       786         2.0
       812         1.0
       852         1.0
       1103        1.0
       1133        2.0
       1213        1.0
       1221        1.0
                 ...
9      32787      12.0
       32962       2.0
       33070       2.0
       33085      13.0
       33182       3.0
       33260       5.0
       33322       1.0
       33419       3.5
       33549       2.0
       33554       1.0
       33694       3.0
       33724       1.0
       33739       8.0
       34013       5.0
       34768       6.0
       35845       1.0
       36017       6.0
       36024       2.0
       36031      20.0
       36088     211.5
       36221       1.5
       36323       2.0
       36347       1.0
       36351       3.0
       36420       2.0
       36431      53.0
       36561       7.5
       36839       2.0
       36850       1.0
       36856       2.0
Name: f, dtype: float64

In [39]:
#Describe overall dataset

In [37]:
botnet.describe()

              l_ipn         r_asn              f
count  20803.000000  20803.000000   20803.000000
mean       4.228236  12138.320338      93.914243
std        3.278183   9766.324252    5764.995269
min        0.000000      3.000000       1.000000
25%        1.000000   4323.000000       1.000000
50%        4.000000   8764.000000       2.000000
75%        7.000000  17676.000000       8.000000
max        9.000000  40092.000000  784234.000000

In [40]:
#List out Total connection based on workstation ID

In [41]:
botnet.groupby('l_ipn').size()

l_ipn
0    3980
1    2159
2    2416
3    1186
4    1308
5    1249
6    1305
7    2233
8    2230
9    2737
dtype: int64

In [42]:
#Select workstation 0

In [44]:
workstation1 = botnet[botnet['l_ipn']==0] 
workstation1.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [45]:
workstation1.describe()

        l_ipn         r_asn            f
count  3980.0   3980.000000  3980.000000
mean      0.0  11890.358040    26.426382
std       0.0   9104.685237   232.733282
min       0.0      4.000000     1.000000
25%       0.0   4808.000000     1.000000
50%       0.0   8708.000000     1.000000
75%       0.0  17228.000000     2.000000
max       0.0  39834.000000  5059.000000

In [48]:
workstation1.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
20477  2006-09-29      0  33070  5059
13547  2006-08-25      0   9316  4487
11698  2006-08-17      0  31983  4358
3675   2006-07-18      0   7314  4051
13746  2006-08-26      0   6478  4051
4957   2006-07-23      0  32666  3697
12512  2006-08-21      0  24940  3416
19838  2006-09-26      0  19548  3184
20309  2006-09-28      0  33070  3157
11681  2006-08-17      0  12322  2832
17998  2006-09-16      0   3462  2744
658    2006-07-04      0   4766  2714
18703  2006-09-20      0   9318  2675
12730  2006-08-22      0   8402  2371
15762  2006-09-05      0   9371  1905
19496  2006-09-24      0   9318  1847
18702  2006-09-20      0   9316  1652
18036  2006-09-16      0  28571  1539
17283  2006-09-13      0   2514  1442
20614  2006-09-30      0  10439  1376
4189   2006-07-20      0   4837  1367
17995  2006-09-16      0    684  1303
3466   2006-07-17      0   3267  1279
19648  2006-09-25      0   9924  1235
17060  2006-09-12      0   5617  1218
4414   2006-07-21      0  13749  1118
9472   2006-08-08      0  12173  1055
15122  2006-09-01      0   4725   952
14946  2006-08-31      0  20853   872
14942  2006-08-31      0  15802   854
...           ...    ...    ...   ...
8751   2006-08-05      0   9498     1
8752   2006-08-05      0   9812     1
8753   2006-08-05      0   9824     1
8754   2006-08-05      0  10738     1
8536   2006-08-04      0  13184     1
8534   2006-08-04      0  11426     1
8285   2006-08-03      0  33774     1
8532   2006-08-04      0   9121     1
8504   2006-08-04      0    209     1
8507   2006-08-04      0   2518     1
8508   2006-08-04      0   3215     1
8509   2006-08-04      0   3320     1
8510   2006-08-04      0   3549     1
8513   2006-08-04      0   4538     1
8514   2006-08-04      0   4766     1
8515   2006-08-04      0   4788     1
8517   2006-08-04      0   4837     1
8518   2006-08-04      0   5089     1
8519   2006-08-04      0   5739     1
8521   2006-08-04      0   6432     1
8522   2006-08-04      0   6461     1
8523   2006-08-04      0   6478     1
8524   2006-08-04      0   6713     1
8525   2006-08-04      0   6724     1
8526   2006-08-04      0   6848     1
8528   2006-08-04      0   8167     1
8529   2006-08-04      0   8560     1
8530   2006-08-04      0   8708     1
8531   2006-08-04      0   9116     1
20628  2006-09-30      0  39484     1

[3980 rows x 4 columns]

In [49]:
#Select workstation 1

In [50]:
workstation2 = botnet[botnet['l_ipn']==1] 
workstation2.head()

          date  l_ipn  r_asn    f
35  2006-07-01      1    680    1
36  2006-07-01      1   1239    6
37  2006-07-01      1   2828    2
38  2006-07-01      1   3265  519
39  2006-07-01      1   4134    9

In [51]:
workstation2.describe()

        l_ipn         r_asn            f
count  2159.0   2159.000000  2159.000000
mean      1.0  11229.380269    90.639648
std       0.0   8822.305849   466.006782
min       1.0      3.000000     1.000000
25%       1.0   4323.000000     1.000000
50%       1.0   8708.000000     2.000000
75%       1.0  15214.000000     5.000000
max       1.0  40028.000000  4718.000000

In [52]:
workstation2.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
11874  2006-08-18      1   3265  4718
11703  2006-08-17      1   3265  4708
11435  2006-08-16      1   3265  4702
10822  2006-08-13      1   3265  4701
12066  2006-08-19      1   3265  4698
10590  2006-08-12      1   3265  4676
10318  2006-08-11      1   3265  4665
11202  2006-08-15      1   3265  4662
10989  2006-08-14      1   3265  4627
4965   2006-07-23      1   3265  4422
933    2006-07-05      1   4766  4405
11724  2006-08-17      1  31983  4212
5008   2006-07-23      1  32666  3697
13081  2006-08-23      1  33438  3441
13044  2006-08-23      1   3307  3438
12559  2006-08-21      1  24940  3416
13042  2006-08-23      1   2108  3407
9520   2006-08-08      1  35017  3326
10024  2006-08-10      1   3265  2885
9740   2006-08-09      1   3265  2884
12791  2006-08-22      1  33438  2440
12752  2006-08-22      1   3307  2397
12748  2006-08-22      1   2108  2170
12315  2006-08-20      1  33438  2087
12283  2006-08-20      1   3307  2083
12280  2006-08-20      1   2108  2045
13322  2006-08-24      1   3307  2044
12562  2006-08-21      1  33438  1786
13345  2006-08-24      1  33438  1663
5960   2006-07-26      1   3265  1660
...           ...    ...    ...   ...
3959   2006-07-19      1   7015     1
3981   2006-07-19      1  34320     1
4218   2006-07-20      1    680     1
4444   2006-07-21      1   6400     1
9505   2006-08-08      1   9908     1
9489   2006-08-08      1   3595     1
9491   2006-08-08      1   4323     1
4441   2006-07-21      1   4814     1
4438   2006-07-21      1   4741     1
9495   2006-08-08      1   4837     1
9496   2006-08-08      1   6327     1
9497   2006-08-08      1   8151     1
4437   2006-07-21      1   4323     1
4431   2006-07-21      1   3320     1
9502   2006-08-08      1   9738     1
9503   2006-08-08      1   9800     1
9506   2006-08-08      1  10620     1
9743   2006-08-09      1   3595     1
4426   2006-07-21      1   2152     1
4425   2006-07-21      1   2018     1
4248   2006-07-20      1  34320     1
9514   2006-08-08      1  16206     1
9515   2006-08-08      1  17826     1
4243   2006-07-20      1  14780     1
9518   2006-08-08      1  25086     1
4233   2006-07-20      1   6327     1
4232   2006-07-20      1   6197     1
4226   2006-07-20      1   3462     1
4225   2006-07-20      1   3352     1
35     2006-07-01      1    680     1

[2159 rows x 4 columns]

In [53]:
#Select workstation 2

In [54]:
workstation3 = botnet[botnet['l_ipn']==2] 
workstation3.head()

          date  l_ipn  r_asn    f
54  2006-07-01      2   1312  218
55  2006-07-01      2   3561    8
56  2006-07-01      2   3659    1
57  2006-07-01      2   4323    8
58  2006-07-01      2   5617    3

In [55]:
workstation3.describe()

        l_ipn         r_asn            f
count  2416.0   2416.000000  2416.000000
mean      2.0  13087.177566    81.007036
std       0.0  11314.030523   299.501027
min       2.0      3.000000     1.000000
25%       2.0   4323.000000     2.000000
50%       2.0   7377.000000     6.000000
75%       2.0  19918.000000    47.250000
max       2.0  39484.000000  5214.000000

In [56]:
workstation3.sort_values(('f'), ascending = False) #sort from the highest to the lowest

             date  l_ipn  r_asn     f
18748  2006-09-20      2   9316  5214
11745  2006-08-17      2  31983  4099
18743  2006-09-20      2   6539  3957
5031   2006-07-23      2  32666  3697
8591   2006-08-04      2   1239  3398
13583  2006-08-25      2   9316  3290
20505  2006-09-29      2  33070  3089
19871  2006-09-26      2  19548  3045
17570  2006-09-14      2  17222  3006
968    2006-07-05      2   4766  2725
12590  2006-08-21      2  24940  2451
12812  2006-08-22      2   8402  2388
20338  2006-09-28      2  33070  2185
18043  2006-09-16      2   3462  2020
18749  2006-09-20      2   9318  1970
20635  2006-09-30      2   1659  1829
18961  2006-09-21      2   4788  1737
6022   2006-07-26      2  19918  1616
20333  2006-09-28      2  19918  1552
18060  2006-09-16      2  28571  1539
17337  2006-09-13      2   2514  1442
4257   2006-07-20      2   4837  1364
6392   2006-07-27      2  19918  1353
3545   2006-07-17      2   3267  1279
18955  2006-09-21      2   3462  1277
20658  2006-09-30      2  10439  1199
17349  2006-09-13      2  17222  1162
14479  2006-08-29      2  33650  1161
4502   2006-07-21      2  33650  1142
4496   2006-07-21      2  13749  1100
...           ...    ...    ...   ...
5327   2006-07-24      2   4837     1
16852  2006-09-11      2  22625     1
16853  2006-09-11      2  27431     1
5326   2006-07-24      2   4766     1
5324   2006-07-24      2   4230     1
5323   2006-07-24      2   4134     1
5655   2006-07-25      2   3595     1
16707  2006-09-10      2   3701     1
16705  2006-09-10      2   2637     1
5656   2006-07-25      2   3701     1
6021   2006-07-26      2  19181     1
6015   2006-07-26      2   6366     1
6011   2006-07-26      2   4837     1
16536  2006-09-09      2    174     1
16537  2006-09-09      2    209     1
16539  2006-09-09      2   2519     1
16541  2006-09-09      2   4134     1
6007   2006-07-26      2    701     1
16544  2006-09-09      2   6360     1
5677   2006-07-25      2  33322     1
5673   2006-07-25      2  26803     1
16548  2006-09-09      2   8001     1
16549  2006-09-09      2   9394     1
5672   2006-07-25      2  22653     1
12323  2006-08-20      2   6461     1
16553  2006-09-09      2  19181     1
5670   2006-07-25      2  19181     1
5660   2006-07-25      2   6140     1
5657   2006-07-25      2   4134     1
20690  2006-09-30      2  39484     1

[2416 rows x 4 columns]